<nav class="navbar bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img id="aplogo" src="/assets/img/APLogo.png" alt="logo argentina programa"
                class="d-inline-block align-text-top"></a>
    </div>
</nav>

<div>
    <p><strong>LOG IN</strong></p> <br>
    Usuario:<div class="form-floating">
        <input type="username" class="form-control" id="floatingInput" placeholder="Usuario">
        <label for="floatingInput">Usuario</label>
    </div> <br>
    Contraseña: <div class="form-floating" id="pass">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label> <br>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-info btn-lg">INGRESAR</button>
    </div>
</div>