<div class="container" id="titulo">
    <div class="row">
        <div class="col-8">
            <h1>Gianfranco Leonel Viola</h1>
            <h2>Programador Full Stack Javascript Junior</h2>
            <p>24 años <br> El Palomar, Morón <br> Buenos
                Aires, Argentina <br>
                <a href="mailto: gianfrancoviola98@gmail.com" target="_top"><button class="myButton">Contactame
                    </button></a>
            </p>
        </div>
        <div class="col-4"><img src="\assets\img\20161127_112443.png" alt="yo" class="retrato">
        </div>


    </div>
</div>