#aplogo {
    height: 50px;
    width: 90px;
}

#btnlogin {
    margin-bottom: 30px;
}

#btnlogin:hover {
    background: #1C6EA4;
}

#btnlogin:active {
    background: #144E75;
}

.banner{
    border-style: dotted;
}

.img-fluid {
    margin-left: 2%;
    height: auto;
    width: 95%;
}