#aplogo {
    height: 50px;
    width: 90px;
    filter: brightness(0);
}

#isdelogo {
    height: 50px;
    width: 90px;
}

#tecnica8logo {
    height: 50px;
    width: 90px;
}

h2 {
    margin-bottom: 2em;
}

.float-container {
    border-style: groove;
}