<div class="float-container">

    <h2><b>Estudios</b> </h2>
    <ul>
        <li><b> ARGENTINA PROGRAMA</b></li>
        <img class="rounded-float-left" id="aplogo" src="/assets/img/APLogo.png" alt="logo argentina programa"><b>
            Programa argentina programa </b><br>
        2021 - 2022
        <li><b> ENTRENADOR DEPORTIVO EN TENIS</b></li>
        <img class="rounded-float-left" id="isdelogo" src="/assets/img/logo_isde.png" alt="logo ISDe"><b> ISDe(Instituto
            Superior de Deportes)</b> <br>
        2019 - 2020
        <li><b>TENICO EN ELECTRONICA</b></li>
        <img class="rounded-float-left" id="tecnica8logo" src="/assets/img/tecnica8logo.jpg" alt="logo tecnica 8"><b>
            E.E.S.T. N° 8 - Morón</b> <br>
        2010 - 2016
    </ul>

</div>